<link rel="stylesheet" href="../css/include/header.css"></link>
<div class="topnav">
  <a href ="/" class="active" href="/">User</a>
  <a href="/add-product">Add Product</a>
  <a href="/all-products">All Products</a>
  <a href="/my-cart">My cart</a>
</div>