<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "../../css/verify.css"/>
  <title>Code Page</title>
</head>
<body>
  <div class="box">
    <form action="/log" method="POST">
      <span class="text-center">enter the code to verify email</span>
    <div class="input-container">
      <br>
      <input type="number" name="code">
      <label>Code</label>
    </div>
      <button type="submit" class="btn">submit</button>
  </form>	
  </div>
</body>
</html>