<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "../../css/verify.css"/>
  <title>Verify Email</title>
</head>
<body>
  <div class="box">
    <form action="/signup/verify/step2" method="POST">
      <span class="text-center">Verify Your Email</span>
    <div class="input-container">
      <input type="hidden" required=""/>
      <label></label>
    </div>
    <div class="input-container">
      <br>	
      <input type="email" name="email">
      <label>Email</label>
    </div>
      <button type="submit" class="btn">Verify!</button>
  </form>	
  </div>
</body>
</html>